@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

html {
  font-size: 62.5%;
}

$color-primary: #0c0f0a;
$color-primary-light: #ffffff;
$color-accent-1: #ff206e;
$color-accent-2: #41ead4;
$color-accent-3: #fbff12;
$color-background: #ffeedb;
$font-main: "Bebas Neue", sans-serif;
$font-regular: 3.6rem;
$font-large: 8.4rem;
$font-small: 2.8rem;

:export {
  colorSession: $color-accent-3;
  colorBreak: $color-accent-2;
}

@mixin thickBox($bgColor) {
  border: 0.3rem solid $color-primary;
  box-shadow: 0.4rem 0.4rem 0 $color-primary;
  background-color: $bgColor;
}

@mixin simpleAnim {
  transition: background 0.3s ease-in-out, scale 0.3s ease-out;
  cursor: pointer;

  &:hover,
  &:focus {
    background: rgb(0, 0, 0, 0.2);
  }

  &:active {
    scale: 1.1;
  }
}

@mixin defaultControls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "session session session" "plus value minus";

  justify-content: center;
  align-items: center;

  width: 20rem;
  height: 12rem;
  padding: 1.2rem;

  h3 {
    text-align: center;
  }

  .labels {
    font-size: $font-regular;
  }
  .values {
    font-size: $font-small;
  }

  button {
    border: none;
    background: none;
    padding: 0;
    font-size: $font-regular;
    @include simpleAnim();
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-main;
  color: $color-primary;
  letter-spacing: 0.3rem;
}

body {
  height: 100vh;

  background: $color-background;
}

.progress-bar-container {
  width: 90%;

  height: 4rem;

  position: fixed;
  top: 2rem;
  left: 50%;

  transform: translateX(-50%);

  @include thickBox($color-primary-light);

  .progress-bar {
    height: 100%;
  }
  .progress-session {
    background: $color-accent-3;
  }

  .progress-break {
    background: $color-accent-2;
  }
}

.img-alarm {
  position: absolute;
  top: 50%;
  left: 50%;

  translate: -120% -50%;

  z-index: -1;
}

#timer-label {
  font-size: $font-large;
}

#time-left {
  @include thickBox($color-accent-1);
  font-size: calc($font-large - 0.2rem);
  color: $color-primary-light;
  width: 24rem;
  height: 10rem;
  margin: 0 auto;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 8vh;

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .logo {
      @include simpleAnim();
    }
  }

  .default-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;

    .session-controls {
      @include defaultControls();
      @include thickBox($color-accent-3);
    }

    .break-controls {
      @include defaultControls();
      @include thickBox($color-accent-2);
    }

    .labels {
      grid-area: session;
    }

    .values {
      grid-area: value;
    }

    .increment {
      grid-area: plus;
    }

    .decrement {
      grid-area: minus;
    }
  }
}
